<%- include("../partials/header.ejs")  %>
</head>
<body>
    <%- include("../partials/alert.ejs")  %>
    <main>
        <form action="/auth/login" method="post">
            <div>
                <label for="email">Email</label>
                <input class="<%= error.email || error.password ? "is-invalid" : "" %>" type="email" id="email" name="email" value="<%= value.email %>" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input class="<%= error.password ? "is-invalid" : "" %>" type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Sign up">           
            <p>Don't have an account? <a href="/auth/signup">Create now</a></p>
            <div class="invalid-feedback"><span><%= error.email || error.password %></span></div>
        </form>
    </main>
    <%- include("../partials/footer.ejs")  %>
</body>
</html>